@import url('https://fonts.googleapis.com/css?family=Lora&display=swap')

.custom-font
	font-family: 'Lora', serif
	letter-spacing: .1em
	text-align: center
	color: #222222

.nav-logo-font
	font-family: 'Lora', serif
