@import url('https://fonts.googleapis.com/css?family=Lora&display=swap')

.custom-font
	font-family: 'Lora', serif
	font-size: 1.1em
	letter-spacing: .15em
	text-align: center
	color: #222222

.alternate-font
	font-family: 'Lora', serif
