@import url('https://fonts.googleapis.com/css?family=Lora&display=swap')
@import 'palette.scss'

.custom-font
	font-family: 'Lora', serif
	letter-spacing: .1em
	text-align: center
	color: $grayish

.nav-logo-font
	font-family: 'Lora', serif
