/* Coolors Exported Palette - coolors.co/d6b68c-dac6ae-e5d4c4-e9ded4-eae5df */

/* HSL */
$color1: hsla(34%, 47%, 69%, 1);
$color2: hsla(33%, 37%, 77%, 1);
$color3: hsla(29%, 39%, 83%, 1);
$color4: hsla(29%, 32%, 87%, 1);
$color5: hsla(33%, 21%, 90%, 1);

/* RGB */
$color1: #d6b68c;
$color2: #dac6ae;
$color3: #e5d4c4;
$color4: #e9ded4;
$color5: #eae5df;

$grayish: #414141;
$lightGrey: #888888;
$lightestColor: #f8f8f8;
$facebookColor: #3b5998;
$primary-color: #3b5998;
$primary-color-muted: rgb(59, 89, 152, .7);

$month-color: hsl(0, 100%, 93%);
$warn: hsl(33, 100%, 96%);
