@import 'fonts.sass'
@import 'text.sass'
@import 'notification.sass'
@import 'sticky-footer.sass'

html
	scroll-behavior: smooth
	+handheld(2, 768px) // ipad
		font-size: 120%
	+handheld(2, 1024px) // ipadPro
		font-size: 170%
	+desktop(96dpi, 1024px)
		font-size: 110%
	+desktop(96dpi, 1920px)
		font-size: 160%

.contacts-list
	list-style: none
	padding: 0
	line-height: 1.6
	font-size: 120%
