@import 'fonts.sass'
@import 'text.sass'
@import 'notification.sass'
@import 'sticky-footer.sass'
@import 'palette.scss'

html
	scroll-behavior: smooth
	+handheld(2, 768px) // ipad
		font-size: 120%
	+handheld(2, 1024px) // ipadPro
		font-size: 170%
	+desktop(96dpi, 1024px)
		font-size: 110%
	+desktop(96dpi, 1920px)
		font-size: 160%

.contacts-list
	list-style: none
	padding: 0
	line-height: 1.6
	font-size: 120%

.responsive-image
	height: auto
	width: 100%

.responsive-image-half
	height: auto
	width: 50%

.primary-color-shadow
	// border: 1px solid grey
	border-radius: .3rem
	box-shadow: 0 0 .5rem 0 rgba(0, 123, 255, 1)

.teacher-specs-list
	list-style: none
	padding: 0
	margin: 0

.teacher-avatar
	height: auto
	width: 100%
	border-radius: .3rem

.teacher-social-icon
	max-width: 1.2rem
	float: right
	path
		fill: $lightGrey
	&:hover path
		fill: $facebookColor
